@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all 0.5s;
    background-image: url(test/img/fond1.jpg);
}


@keyframes toRight {
    100% {
        width: 0%;
    }
}

.container {
    height: 100%;
    width: 900px;
    width: 100%; 
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.day {
    background-color: #fff;
    color: #222;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header .logo {
    position: relative;
    text-decoration: none;
}

header .logo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    animation: toRight 1s linear forwards;
}

header .logo h3 {
    background: linear-gradient(140deg, #05fb53, #bc05c9, #e1e107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 50px;
    font-weight: 550;
}

header .list {
    display: flex;
}

header .list .tab {
    font-size: 13px;
    font-size: 25px; 
    position: relative;
    color: #fff;
    list-style: none;
    margin: 0 20px;
    transition: all 0.3s;
    cursor: pointer;
}

header .list .tab:hover {
    color: #ce2a02;
}

header .list .tab::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0%;
    height: 1.5px;
    background-color: rgb(247, 247, 247);
    bottom: -8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all 0.3s;
}

header .list .tab::after {
    content: "";
    position: absolute;
    right: 50%;
    width: 0%;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    bottom: -8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: all 0.45s;
}

header .list .tab:hover::before,
header .list .tab:hover::after {
    width: 50%;
}

header .form_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1.5px solid #fff;
    border-radius: 5px;
    width: 200px;
    padding: 4px 8px;
}

header .form_input input[type="text"] {
    font-size: 11px;
    color: #fff;
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
}

header .form_input input[type="text"]::placeholder {
    color: #848282;
    font-size: 10px;
}

header .form_input .icon {
    font-size: 15px;
    color: #d7d1d1;
    cursor: pointer;
}

header .animate .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #ce2a02;
}






.gallery {
    display: flex;
    background-color: var(--background);
    gap: 15px;
    scale: 1.0;
    position: absolute;
    left: 45%;
    bottom: 40%;
}


.card {
    position: relative;
    width: 200px;
    height: 219px;
    background-color: var(--background);
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--background);
    overflow: hidden;
    margin:0%;
}
figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.card img {
    object-fit: cover;
    border-radius: 4px;
    height: 100%;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.10);
}



.card:hover figcaption {
    font-size: 0.8rem;
    position: absolute;
    height: 80px;
    width: 200px;
    display: flex;
    align-items: end;
    justify-content: center;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    color: white;
    left: 0px;
    bottom: 0px;
}

.card:hover ~ .card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}

