@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all 0.5s;
    background-image: url(/Acceuil-20230928T081703Z-001/Acceuil/img/fond1.jpg);
}


@keyframes toRight {
    100% {
        width: 0%;
    }
}

.container {
    height: 100%;
    width: 900px;
    width: 100%; 
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.day {
    background-color: #fff;
    color: #222;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header .logo {
    position: relative;
    text-decoration: none;
}

header .logo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    animation: toRight 1s linear forwards;
}

header .logo h3 {
    background: linear-gradient(140deg, #05fb53, #bc05c9, #e1e107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 50px;
    font-weight: 550;
}

header .list {
    display: flex;
}

header .list .tab {
    font-size: 13px;
    font-size: 25px; 
    position: relative;
    color: #fff;
    list-style: none;
    margin: 0 20px;
    transition: all 0.3s;
    cursor: pointer;
}

header .list .tab:hover {
    color: #ce2a02;
}

header .list .tab::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0%;
    height: 1.5px;
    background-color: rgb(247, 247, 247);
    bottom: -8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all 0.3s;
}

header .list .tab::after {
    content: "";
    position: absolute;
    right: 50%;
    width: 0%;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    bottom: -8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: all 0.45s;
}

header .list .tab:hover::before,
header .list .tab:hover::after {
    width: 50%;
}

header .form_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1.5px solid #fff;
    border-radius: 5px;
    width: 200px;
    padding: 4px 8px;
}

header .form_input input[type="text"] {
    font-size: 11px;
    color: #fff;
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
}

header .form_input input[type="text"]::placeholder {
    color: #848282;
    font-size: 10px;
}

header .form_input .icon {
    font-size: 15px;
    color: #d7d1d1;
    cursor: pointer;
}

header .animate .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: #ce2a02;
}

footer {
    margin: 2% 0 0 0;
    background: rgba(0, 0, 0, .15);
}

footer > span {
    display: block;
    margin: 3px;
    text-align: center;
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 13px;
    font-size: 25px; 
    position: relative;
    color: #ffffff;
    list-style: none;
    margin: 0 20px;
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
        color: #ce2a02;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -20%;
    background: linear-gradient(#080052, black) no-repeat;
    background-size: cover;
    padding-top: 60px;
    transition: right 0.5s ease;
    border-radius: 2vh 0 0 2vh;
}

.sidenav > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidenav > div > * {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    transition: 0.3s;
    position: absolute;
    bottom: 82%;
    left: 9px;
}

.sidenav div a {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    top: 5px;
    font-size: 30px;
}

.sidenav > div > *:hover {
    color: #FFF;
}

.sidenav > div > select:hover {
    color: #000000;
}
  
.sidenav div.lang h2 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 10px;
    top: 100px;
    font-size: 30px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    right: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    color: white;
    transition: color 0.3s;
}

.sidenav .close:hover {
    color: red;
}

img {
    width: 50px;
    position:absolute;
    left: 320px;
    top: 730px;
    cursor: pointer;
}

img:hover {
    color: #ce2a02; 
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
